.tableListing{
    height:100px;
    width:100px;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

.payment-section {
    padding:10px;
    background-color:rgba(214, 118, 177,0.4);
}
.payment-button {
   width:50%;
}