/*table listing interface*/
.tableListing{
    height:100px;
    width:100px;
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    justify-content: center;
}

.text-holder {
    background-color:white;
    width:30%;
    opacity:0.8;
    font-size:20px;
    font-weight:bold;
}
.status2 {
    background-color: rgba(255, 0, 0,0.8); 
}

.status3 {
    background-color:rgba(2,153,4,0.8);
}

/*payment interface*/
.payment-section {
    padding:10px;
    background-color:rgba(214, 118, 177,0.4);
}
.payment-button {
    width:50%;
}

/*balance page*/
.show_balance {
    width:100%;
    text-align:center;
}

.bottom-buttons {
    text-align:center;
    margin: 0 auto;
    padding:30px;
}

.bottom-buttons .btn {
    width:30%;
}

/*order details*/
.orderid {
    text-align:center;
margin:0 auto;
}