body{
    background-color: #eeeeee;
}

.btnfood1{
    
}

.lulw{
    border: 1px solid black;
    padding: 0;
    background-color: #eeeeee;
    
}


.lulw2{
    border: 1px solid black;
}

.lulw3{
    border: 1px solid black;
}

.food2{
    padding-top: 20px;
}

.food1{
    padding-top: 20px;
}

.customCard {
    padding: 8px !important;
}

.foodNav{
    background-color: black;
    height: 50px;
    padding: 10px;
}

.drinksNav{
    background-color: black;
    padding: 10px;
    height: 50px;
}

.desertNav{
    background-color: black;
    height: 50px;
    padding: 10px
}

.innerNav{
    padding: 0;
}

/*Make the food picture to fit*/
.img-fluid {    
       width: 100%;
}