body{
    background-color: pink;
}

.btnfood1{
    
    margin-left: 18%;
    padding:inherit;
}

.lulw{
    border: 1px solid black;
    
}


.lulw2{
    border: 1px solid black;
}

.lulw3{
    border: 1px solid black;
}

.food2{
    padding-top: 20px;
}

.food1{
    padding-top: 23px;
}